@font-face {
    font-family: 'Roboto';
    src: url('~@/assets/fonts/Roboto-Light.ttf') format('TrueType'),
    url('~@/assets/fonts/Roboto-Light.ttf') format('TrueType');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('~@/assets/fonts/Lato-Black.ttf') format('TrueType'),
    url('~@/assets/fonts/Lato-Black.ttf') format('TrueType');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Catamaran';
    src: url('~@/assets/fonts/Catamaran-Regular.ttf') format('TrueType'),
    url('~@/assets/fonts/Catamaran-Regular.ttf') format('TrueType');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}